import { Token } from './models';

// Add times that are important to you here.  Duplicate this file, remove the '.tmpl' and add your own.
//
// Each entry in the table is a time string without colons, and can either map directly to
// a description like so:
//     '542': 'My totes favorite number'
//
// ... or a 'Token' structure (see models.ts)

export const personalData: {
  [time: string]: string | Token | (string | Token)[];
} = {
  // e.g. birthdays, safe combinations, panic room codes
};
